<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.muxiu1997.finder</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00CDB5F6-2703-4CA9-A5DE-7FB19EA91B02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B55ED6ED-5040-4C3C-B4A8-90DD9B409ECF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>059D2D30-A529-4E48-9976-6E5D97DEFA35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>175771D0-08B2-4530-B2F2-6F8B19825310</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>175771D0-08B2-4530-B2F2-6F8B19825310</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BF2D49-0374-497B-B48D-2F565FC3C729</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AE5FFDCD-C65C-4E4B-A250-E8B5B8C9E593</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B64ED11-75D9-403A-8A0A-2C932CA2439C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>965CBE74-255E-4420-B567-AE15617F3C42</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F3A72ED-923E-4172-BDF9-2BC9B9284C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A3B25DA9-2A1F-4044-B7F5-C1BD59D76322</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22A180EA-4E07-4A37-BAD1-2EFC88C0AF69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>489AD03E-41EA-4E2D-B2C6-ADA0FB0B55A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>315B8F65-9A95-4FEE-A565-8597A16BE4A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EFB9A9E-58D8-4230-8FE7-8F027F587A9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EFB9A9E-58D8-4230-8FE7-8F027F587A9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>059D2D30-A529-4E48-9976-6E5D97DEFA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>489AD03E-41EA-4E2D-B2C6-ADA0FB0B55A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>059D2D30-A529-4E48-9976-6E5D97DEFA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51EFC0B5-20A5-4566-B315-318D0BE081B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76CD005-8D74-4209-B006-E69758D6A79F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68BF2D49-0374-497B-B48D-2F565FC3C729</key>
		<array/>
		<key>6B4ABBDE-6043-4B8B-B8E9-86BB797CAF2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B64ED11-75D9-403A-8A0A-2C932CA2439C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AB762EBB-71CB-4868-8B06-40BBDFAE10B9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D027AF2-66A1-45AC-B302-1E42A860886F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B4ABBDE-6043-4B8B-B8E9-86BB797CAF2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F483C49-8E2E-45F9-904D-117F97D9F097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EFB9A9E-58D8-4230-8FE7-8F027F587A9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87B17DEC-7ED2-4EF8-8755-CAB7BF7750E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A35D0ECB-2717-432A-8F14-148953757CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>963E2739-25F5-4CF6-AB67-85C9920BE0F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB79B906-72F3-4265-87F6-A0F7C2E48F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A35D0ECB-2717-432A-8F14-148953757CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>059D2D30-A529-4E48-9976-6E5D97DEFA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEB4344C-AC09-46D9-AC7B-9B226EE7D0D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>963E2739-25F5-4CF6-AB67-85C9920BE0F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B55ED6ED-5040-4C3C-B4A8-90DD9B409ECF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D027AF2-66A1-45AC-B302-1E42A860886F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76CD005-8D74-4209-B006-E69758D6A79F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68BF2D49-0374-497B-B48D-2F565FC3C729</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCFDAB35-D8A2-4BD8-A021-550419CB425A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>963E2739-25F5-4CF6-AB67-85C9920BE0F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>MuXiu1997</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

  tell application "Alfred 4"
    browse q
  end tell
  
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>68BF2D49-0374-497B-B48D-2F565FC3C729</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function posixPath(item) {
  return $.NSURL.alloc.initWithString(item.url()).fileSystemRepresentation
}

const finder = Application("Finder")

function run() {
  return posixPath(finder.windows[0].target)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./dirPath</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>059D2D30-A529-4E48-9976-6E5D97DEFA35</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fa</string>
				<key>subtext</key>
				<string>Browse current Finder dir in Alfred</string>
				<key>text</key>
				<string>Finder → Alfred</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87B17DEC-7ED2-4EF8-8755-CAB7BF7750E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fa</string>
						<key>outputlabel</key>
						<string>fa</string>
						<key>uid</key>
						<string>AE5FFDCD-C65C-4E4B-A250-E8B5B8C9E593</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fcp</string>
						<key>outputlabel</key>
						<string>fcp</string>
						<key>uid</key>
						<string>965CBE74-255E-4420-B567-AE15617F3C42</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fi</string>
						<key>outputlabel</key>
						<string>fi</string>
						<key>uid</key>
						<string>A3B25DA9-2A1F-4044-B7F5-C1BD59D76322</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>175771D0-08B2-4530-B2F2-6F8B19825310</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>fa</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A35D0ECB-2717-432A-8F14-148953757CB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fcp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy current Finder dir POSIX path</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22A180EA-4E07-4A37-BAD1-2EFC88C0AF69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B64ED11-75D9-403A-8A0A-2C932CA2439C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>fcp</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>489AD03E-41EA-4E2D-B2C6-ADA0FB0B55A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function posixPath(item) {
  return $.NSURL.alloc.initWithString(item.url()).fileSystemRepresentation
}

function run() {
  const finder = Application("Finder")
  return finder.selection().map(posixPath).join("\n")
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D027AF2-66A1-45AC-B302-1E42A860886F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fscp</string>
						<key>outputlabel</key>
						<string>fscp</string>
						<key>uid</key>
						<string>AB762EBB-71CB-4868-8B06-40BBDFAE10B9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6B4ABBDE-6043-4B8B-B8E9-86BB797CAF2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fscp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy Finder selection POSIX path</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00CDB5F6-2703-4CA9-A5DE-7FB19EA91B02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(path) {
  const app = Application.currentApplication()
  app.includeStandardAdditions = true

  const iTerm = Application('iTerm')
  iTerm.createWindowWithDefaultProfile()
  const session = iTerm.currentWindow.currentSession
  session.write({text: `cd ${path};clear`}) 
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F3A72ED-923E-4172-BDF9-2BC9B9284C1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>fscp</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B55ED6ED-5040-4C3C-B4A8-90DD9B409ECF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fi</string>
				<key>subtext</key>
				<string>Open current Finder dir in iTerm</string>
				<key>text</key>
				<string>Finder → iTerm</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>315B8F65-9A95-4FEE-A565-8597A16BE4A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>fi</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3EFB9A9E-58D8-4230-8FE7-8F027F587A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  const iTerm = Application('iTerm')
  const session = iTerm.currentWindow.currentSession
  session.write({text: 'open -a Finder ./'})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB79B906-72F3-4265-87F6-A0F7C2E48F82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ft</string>
				<key>subtext</key>
				<string>Open current Finder dir in iTerm</string>
				<key>text</key>
				<string>Finder → iTerm</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F483C49-8E2E-45F9-904D-117F97D9F097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>if</string>
				<key>subtext</key>
				<string>Open current iTerm dir in Finder</string>
				<key>text</key>
				<string>iTerm → Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCFDAB35-D8A2-4BD8-A021-550419CB425A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>if</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>963E2739-25F5-4CF6-AB67-85C9920BE0F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tf</string>
				<key>subtext</key>
				<string>Open current iTerm dir in Finder</string>
				<key>text</key>
				<string>iTerm → Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AEB4344C-AC09-46D9-AC7B-9B226EE7D0D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>projects</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browse /Users/muxiu1997/Projects</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51EFC0B5-20A5-4566-B315-318D0BE081B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/Users/muxiu1997/Projects/</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B76CD005-8D74-4209-B006-E69758D6A79F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00CDB5F6-2703-4CA9-A5DE-7FB19EA91B02</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>059D2D30-A529-4E48-9976-6E5D97DEFA35</key>
		<dict>
			<key>note</key>
			<string>Finder front window POSIX path</string>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>0B64ED11-75D9-403A-8A0A-2C932CA2439C</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>175771D0-08B2-4530-B2F2-6F8B19825310</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>22A180EA-4E07-4A37-BAD1-2EFC88C0AF69</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>315B8F65-9A95-4FEE-A565-8597A16BE4A8</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>3EFB9A9E-58D8-4230-8FE7-8F027F587A9C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>489AD03E-41EA-4E2D-B2C6-ADA0FB0B55A6</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4F3A72ED-923E-4172-BDF9-2BC9B9284C1E</key>
		<dict>
			<key>note</key>
			<string>Open in Iterm</string>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>51EFC0B5-20A5-4566-B315-318D0BE081B0</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>68BF2D49-0374-497B-B48D-2F565FC3C729</key>
		<dict>
			<key>note</key>
			<string>Browse in Alfred</string>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6B4ABBDE-6043-4B8B-B8E9-86BB797CAF2B</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6D027AF2-66A1-45AC-B302-1E42A860886F</key>
		<dict>
			<key>note</key>
			<string>Finder selection POSIX path</string>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6F483C49-8E2E-45F9-904D-117F97D9F097</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>87B17DEC-7ED2-4EF8-8755-CAB7BF7750E9</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>963E2739-25F5-4CF6-AB67-85C9920BE0F7</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>A35D0ECB-2717-432A-8F14-148953757CB5</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>AEB4344C-AC09-46D9-AC7B-9B226EE7D0D4</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>B55ED6ED-5040-4C3C-B4A8-90DD9B409ECF</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>B76CD005-8D74-4209-B006-E69758D6A79F</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1285</integer>
		</dict>
		<key>BCFDAB35-D8A2-4BD8-A021-550419CB425A</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>DB79B906-72F3-4265-87F6-A0F7C2E48F82</key>
		<dict>
			<key>note</key>
			<string>Open iTerm working dir in Finder</string>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
